In [1]:
#clase 4 -metodos de colecciones , en python todo es un "objeto" 
nombre = "Pedro Picapiedra"

nombre.lower()

'pedro picapiedra'

In [2]:
nombre.upper()

'PEDRO PICAPIEDRA'

In [3]:
nombre = nombre .title()

print(nombre)

Pedro Picapiedra

In [4]:
nombre.count("ro")# nos permite conocer la cantidad de apariciones de un sub-string

1

In [5]:
nombre.upper().count("P")

3

In [6]:
nombre.find("pi")

10

In [7]:
nombre.rfind("r")

14

In [10]:
linea = "Juan,corrientes 333,capital federal,argentina,1000,jefe"
lista = linea .split(",")
lista [3]

'argentina'

In [12]:
"-#".join("bienvenidos")
# separa las letras con los caracteres

'b-#i-#e-#n-#v-#e-#n-#i-#d-#o-#s'

In [15]:
nombre= "   Juan     Perez      Gomez  "
nombre.strip().title()

'Juan     Perez      Gomez'

In [16]:
nombre = " Juano Perez Garcia "
nombre.replace("Juano","Juan")

' Juan Perez Garcia '

In [18]:
id = "655658755688876 3 43 6 63"
id.replace(" ", "", 2)

'655658755688876343 6 63'

In [19]:
#ejemplo 1  corregir
my_set_1=set([1,2,3])
my_set_2=set([3,4,5])
my_new_set=
my-set1.union(my_set_2)
print(my_new_set)

SyntaxError: invalid syntax (2739414672.py, line 4)

In [ ]:
# ejersicios  de coder ,corregir 
#ejemplo 1

my_set_1=set([1,2,3])
my_set_2=set([3,4,5])
my_new_set=
my-set1.union(my_set_2)
print(my_new_set)

SyntaxError: invalid syntax (2739414672.py, line 4)

In [20]:
#ejemplo 2
my_set_1=set([1,2,3])
my_set_2=set([3,4,5])
my_new_set=
my-set1.intersection(my_set_2)
print(my_new_set)

SyntaxError: invalid syntax (1432639760.py, line 4)

In [21]:
#ejemplo 1
my_set_1=set([1,2,3])
my_set_2=set([3,4,5])
my_new_set=
my-set1.diference(my_set_2)
print(my_new_set)

SyntaxError: invalid syntax (2496775688.py, line 4)

In [ ]:
# diccionarios